/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body */
body {
    line-height: 1.6;
    color: #333;
    background: #f4f4f4;
}

/* Header */
header {
    background: #007BFF;
    color: #fff;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #0056b3;
}

/* Hero Section */
.hero {
    height: 90vh;
    background: linear-gradient(135deg, #007BFF, #00A1E5);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background: #0056b3;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta:hover {
    background: #004080;
}

/* Sections */
section {
    padding: 4rem 0;
    text-align: center;
    background: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.feature-card {
    background: #f8f9fa;
    border: 1px solid #ddd;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 300px;
    border-radius: 5px;
}

.video-tutorial {
    margin: 2rem 0;
}

button {
    display: inline-block;
    padding: 10px 20px;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #0056b3;
}

/* Footer */
footer {
    background: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.store-button img {
    margin-top: 20px;
    width: 200px; /* Buton boyutunu belirlemek için */
    border: none;
    transition: transform 0.3s ease;
}

.store-button img:hover {
    transform: scale(1.05); /* Hover'da hafif büyüme efekti */
}
